/*
0-600 px phone
600 -900px tablet portrait
900 -1200px tablet landscape
1200px - 1800px normal style
1800px ++ big desktop
*/
/* 
@mixin respond-phone{
    @media(max-width: 600px){@content};
}
 */
/*
breakpoint argument choices:
-phone
-tab-port
-tab-land
-big desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 0.5;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes mainFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes secFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }

body {
  font-family: 'Lato';
  font-weight: 400;
  /*  font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    /* animation: text_reveal .10s ease forwards; */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 
        animation-iteration-count: 3;
        animation-delay: 3s; 
        */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    opacity: 0.5;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    /* @include respond(phone){ 
            letter-spacing: .5rem;
        
        } */ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ffb366, #e67300);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--white {
    color: #fff; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--orange {
  background-color: #e67300;
  color: #fff; }
  .btn--orange::after {
    background-color: #e67300; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

@media (max-width: 56.25em) {
  .btn {
    margin-top: 1em; } }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ff8c1a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff8c1a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #ff8c1a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.social-menu ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; }
  .social-menu ul li {
    list-style: none;
    margin: 0 10px; }
    .social-menu ul li .fa {
      font-size: 25px;
      line-height: 50px;
      transition: .5s; }
    .social-menu ul li .fa {
      color: #000; }
    .social-menu ul li a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f7f7f7;
      text-align: center;
      transition: 0.5s;
      transform: translate(0, 0px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .social-menu ul li a:hover {
        transform: rotate(0deg) skew(0deg) translate(0, -10px); }
        .social-menu ul li a:hover .fa {
          color: #f7f7f7; }
    .social-menu ul li .github:hover {
      background-color: #000; }
    .social-menu ul li .linkedin:hover {
      background-color: #0077B5; }
    .social-menu ul li .facebook:hover {
      background-color: #3b5999; }

/* .social-menu ul li:nth-child(1) a:hover {
    background-color: #0f0f0f;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #3b5999;

} */
/* .social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
} */
/* .social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
 */
.picture {
  position: relative; }
  .picture img {
    width: 100%;
    height: 30rem; }

.service-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  /* &__text{

    } */ }
  @media (max-width: 56.25em) {
    .service-box {
      padding: 2rem; } }
  @media (max-width: 37.5em) {
    .service-box {
      margin: 0 4rem; } }
  .service-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ffb366, #e67300);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .service-box__icon {
        margin-bottom: 0; } }
  .service-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  /*  &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    } */ }
  .card__side {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side-picture-container {
      overflow: hidden; }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all .8s ease; }
    .card__picture:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
    .card__picture--restobar {
      background: url(../img/restobar.jpg);
      background-size: 100% 100%; }
    .card__picture--ecommerce {
      background: url(https://i.ibb.co/X7yGk6r/home.png);
      background-size: 100% 100%; }
    .card__picture--foro {
      background: url(../img/foro.jpg);
      background-size: 100% 100%; }
    .card__picture--blog {
      background: url(../img/blog.jpg);
      background-size: 100% 100%; }
    .card__picture--portfolio {
      background: url(../img/portfolio.jpg);
      background-size: 100% 100%; }
    .card__picture--landing-page {
      background: url(../img/landing-page.jpg);
      background-size: 100% 100%; }
    .card__picture--netflix {
      background: url(../img/netflix.jpg);
      background-size: 100% 100%; }
    .card__picture--poketeca {
      background: url(../img/poketeca.jpg);
      background-size: 100% 100%; }
    .card__picture--no-image {
      background: url(../img/no-image.jpg);
      background-size: 100% 100%; }
    .card__picture--under-construction {
      background: url(../img/under-construction.jpg);
      background-size: 100% 100%; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 0rem;
    width: 100%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--css {
      background-image: linear-gradient(to right bottom, rgba(255, 179, 102, 0.85), rgba(230, 115, 0, 0.85)); }
    .card__heading-span--node {
      background-image: linear-gradient(to right bottom, rgba(91, 219, 74, 0.9), rgba(94, 167, 65, 0.9)); }
    .card__heading-span--mern {
      background-image: linear-gradient(to right bottom, rgba(91, 219, 74, 0.9), rgba(23, 158, 199, 0.9)); }
    .card__heading-span--react {
      background-image: linear-gradient(to right bottom, rgba(41, 230, 255, 0.85), rgba(23, 158, 199, 0.85)); }
    .card__heading-span--laravel {
      background-image: linear-gradient(to right bottom, rgba(255, 118, 136, 0.85), rgba(238, 48, 48, 0.85)); }
    .card__heading-span--vue {
      background-image: linear-gradient(to right bottom, rgba(65, 184, 131, 0.85), rgba(52, 73, 94, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details-paragraph {
      font-size: 1.5rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #ff8c1a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3* 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3* 6rem) / 4 + 2 * 6rem); }

.header {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-large.jpg");
  /* background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.7),
    rgba($color-primary-dark, 0.7)),
     url('../../img/header-large.jpg'); */
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  /* @media(min-resolution: 192dpi) and (min-width:  37.5em), 
        (min-width: 125em){
        background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url('../../img/header-large.jpg');
    } */
  /* .logo:hover{
        animation:moveInRight 1s ease-out;
    } */ }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh); } }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ffb366, #e67300);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ff8c1a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  pointer-events: auto; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #eee;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-services {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(255, 179, 102, 0.9), rgba(230, 115, 0, 0.9)), url("../img/header-large.jpg");
  background-size: cover;
  transform: skewY(7deg);
  margin-top: -12rem; }
  .section-services > * {
    transform: skewY(-7deg); }
  @media (max-width: 56.25em) {
    .section-services {
      padding: 10rem 0; } }

.section-portfolio {
  background-color: #eee;
  padding: 35rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-portfolio {
      padding: 20rem 0; } }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #ffb366, #e67300); }
  @media (max-width: 56.25em) {
    .section-contact {
      padding: 10rem 0; } }
