.btn{

    &,
    &:link,&:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position:relative;
        font-size: $default-font-size;
    
        border:none;
        cursor: pointer;
        
    }
    
    &:hover{
        transform: translateY(-.3rem);
        box-shadow:0 1rem 2rem rgba($color-black,.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,&:focus{
        outline: none;
        transform: translateY(-.1rem);
        box-shadow:0 .5rem 1rem rgba($color-black,.2);
    
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }

        
    }
 
    &--orange {
        background-color: $color-primary-dark;
        color: $color-white;

        &::after{ 
            background-color: $color-primary-dark;
        }
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem ;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;

        
    }

    @include respond(tab-port){ 
        
        
        margin-top: 1em;
        
        
    }

}


.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{ 
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black,.15);
        transform: translateY(0);
    }

  

    
}

.social-menu{
  
    & ul {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        & li {
            list-style: none;
            margin: 0 10px;

            & .fa {
                font-size: 25px;
                line-height: 50px;
                transition: .5s;
            }

            & .fa{
                color: $color-black;
            }



            &  a {
                position: relative;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color:$color-grey-light-1;
                text-align: center;
                transition: 0.5s;
                transform: translate(0,0px);
                box-shadow: 0 .5rem 1rem rgba($color-black,.2);

                &:hover {
                    
                    transform: rotate(0deg) skew(0deg) translate(0, -10px);

                    & .fa{
                        color: $color-grey-light-1;
                    }


                }
            }

            & .github:hover {
                background-color: $color-black;
            }

            & .linkedin:hover {
                background-color: #0077B5;
            }

            & .facebook:hover {
                background-color: #3b5999;
            }


            
        }

    }


}











/* .social-menu ul li:nth-child(1) a:hover {
    background-color: #0f0f0f;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #3b5999;

} */
/* .social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
} */
/* .social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
 */

